# Copy to idrac.env, fill in real values, then encrypt:
#   sops --encrypt --input-type dotenv --output-type dotenv \
#        secrets/idrac.env > secrets/idrac.enc.env && rm secrets/idrac.env
#
# Run a POC with decrypted env:
#   sops exec-env secrets/idrac.enc.env './pocs/poc-0-cipher/poc0'

IPMI_HOST=192.168.x.x
IPMI_USER=root
IPMI_PASS=calvin
IPMI_PORT=623
IPMI_CIPHER=3
